body {
    width: 100%;
    background: #292d3e;
}

.vc-container {
    font-family: "Source Code Pro", Courier, monospace !important;
}

.vc-title {
    font-size: 0.95rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
.vc-container.vc-is-dark {
    background-color: #303348 !important;
    border-color: transparent !important;
}
